ze_do_rolo
{
  "name": "Atendente de Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atendente-email-roberta",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        176
      ],
      "id": "2e17b730-592e-4c12-923c-23df24ab50aa",
      "name": "Webhook",
      "webhookId": "b83abb1e-17b7-41d4-b70e-9a9c571b2194"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "cliente_email",
              "value": "={{ $json.body.sender.email }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "cliente_nome",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "assunto",
              "value": "=Zé do Rolo: {{ $json.body.conversation.additional_attributes.mail_subject }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "pergunta_cliente",
              "value": "={{ $json.body.conversation.messages[0].processed_message_content }}",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation.id }}",
              "type": "number"
            },
            {
              "id": "field-006",
              "name": "contato_id",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}",
              "type": "number"
            },
            {
              "id": "field-007",
              "name": "account_id",
              "value": "={{ $json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "field-008",
              "name": "url_chatwoot",
              "value": "https://chatwoot.zedocarro.cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        176
      ],
      "id": "d1e6e07c-4319-4ff9-995b-b23502088de6",
      "name": "Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.pergunta_cliente }}",
        "options": {
          "systemMessage": "=Você é a Roberta, consultora técnica sênior do Zé do Rolo. Sua missão é converter interessados em compradores usando as ferramentas de dados disponíveis.\n\nSUAS FERRAMENTAS:\n\nbusca_estoque_ze_do_rolo: Use sempre que o cliente perguntar sobre carros específicos, marcas, modelos ou preços.\n\nfaq_perguntas_frequentes: Use para dúvidas sobre como funciona a plataforma, planos, anúncios e segurança.\n\nREGRAS DE DOMÍNIO E LINKS:\n\nO site oficial é https://zedorolo.com.\n\nOs links vindos da ferramenta de estoque já estão no formato correto. Nunca altere o domínio para .com.br nos links de anúncios.\n\nESTILO E FORMATAÇÃO HTML:\n\nUse tags <p> para parágrafos e <strong> para dar ênfase a preços e marcas.\n\nSe encontrar o carro no estoque, gere o link: <a href='LINK_DA_FERRAMENTA'>Ver fotos e detalhes do MODELO</a>.\n\nSe não encontrar o carro, envie o link geral: <a href='https://zedorolo.com/estoque'>Conferir estoque completo</a>.\n\nSAUDAÇÃO:\n\nComece sempre com 'Olá, {{ $('Dados').item.json.cliente_nome }}'.\n\nRESTRIÇÃO: Responda apenas com o código HTML final do e-mail. Não use expressões como {{ $json }} no texto final."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        176
      ],
      "id": "5da1573a-1a9e-4222-b1db-1f1716fce538",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        416
      ],
      "id": "457c5e84-9f31-4654-af79-01a068f09788",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OQjNUI8ZezgdKM2t",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.conversation_id.toString() }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        432,
        416
      ],
      "id": "ac3e138c-3469-4899-bc10-08003b1f9996",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "CWfgRVezGe2uplox",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        496
      ],
      "id": "a2969ada-578e-45f8-8f4e-a4f1c211ca9c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LTptrbOJ5V1fU91u",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utilize esta ferramenta obrigatoriamente para consultar qualquer informação sobre veículos disponíveis no site (carros, motos, caminhões, tratores, vans, ônibus). Ela retorna modelos, preços, detalhes técnicos e links das páginas",
        "tableName": {
          "__rl": true,
          "value": "vehicles",
          "mode": "list",
          "cachedResultName": "vehicles"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        752,
        336
      ],
      "id": "caff9dc5-16d9-4543-b8ed-b0284e2e2dfa",
      "name": "busca_estoque_ze_do_rolo",
      "credentials": {
        "supabaseApi": {
          "id": "wSmqQBhShUWX9Eyb",
          "name": "Supabase PG Vector Store"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Busca informações",
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        { \"text\": \"{{ $fromAI(\"query\", \"questão para responder.\") }}\" }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"file_search\": {\n        \"file_search_store_names\": [\n          \"fileSearchStores/zedorolorag-2cwm3otova3j\"\n        ]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        608,
        416
      ],
      "id": "42f52e2e-1cde-4449-bf6d-ec1e7bc7c892",
      "name": "faq_perguntas_frequentes",
      "credentials": {
        "httpQueryAuth": {
          "id": "BF8dUGanIq5jVt0h",
          "name": "Gemini Rag - FAQ"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "contato@zedorolo.com.br",
        "toEmail": "={{ $('Dados').item.json.cliente_email }}",
        "subject": "={{ $('Dados').item.json.assunto }}",
        "html": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1184,
        48
      ],
      "id": "e59c432c-6968-44e1-9df5-00023b521667",
      "name": "Enviar Email",
      "webhookId": "3cd234fa-e4a2-499d-8b44-4d7f19167cd5",
      "credentials": {
        "smtp": {
          "id": "yz0Q1AZIv3vgXDTo",
          "name": "SMTP - contato@zedorolo.com.br"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clean-output-001",
              "name": "output_limpo",
              "value": "={{ $json.output.replace(/<\\/p>/g, '\\n\\n').replace(/<br\\s*\\/?>/g, '\\n').replace(/<\\/li>/g, '\\n').replace(/<li>/g, '• ').replace(/<[^>]+>/g, '').replace(/&nbsp;/g, ' ').replace(/\\n{3,}/g, '\\n\\n').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        176
      ],
      "id": "ee5ddc9b-b3fb-4ff7-a1e8-f48a69a5546a",
      "name": "Limpar HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Dados').item.json.account_id }}/conversations/{{ $('Dados').item.json.conversation_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=={{ $('Limpar HTML').item.json.output_limpo }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        272
      ],
      "id": "ee4e5858-7946-429b-bf65-cf8b3c939b82",
      "name": "Enviar Mensagem ChatWoot",
      "credentials": {
        "chatwootApi": {
          "id": "5lydeMPyWafxQ3wS",
          "name": "ChatWoot"
        }
      }
    },
    {
      "parameters": {
        "content": "## ATENDENTE EMAIL\n## Roberta\n## Consultora Técnica Sênior\n\n✅ Redis Memory para contexto\n✅ Email via SMTP\n✅ Espelhamento no ChatWoot (privado)\n✅ HTML limpo no ChatWoot",
        "height": 752,
        "width": 1472,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -80
      ],
      "typeVersion": 1,
      "id": "7b051b53-e773-4fa6-9f22-fb92b0ec1b90",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Limpar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar HTML": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Mensagem ChatWoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "busca_estoque_ze_do_rolo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "faq_perguntas_frequentes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "busca_estoque_ze_do_rolo",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "aa3f16ab-adf0-4dbd-85af-2cc10c55eca8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d93e8900b188aa34fdc22f7816238195e0bc8f8fe1011e65e15f7a74b2cec0"
  },
  "id": "QqKv0OMYfUHFqIuI",
  "tags": []
}
