ze_do_rolo
{
  "name": "Atendente de Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atendente-roberta-email",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        256
      ],
      "id": "45687317-1153-43e3-944b-0005d7928b34",
      "name": "Webhook",
      "webhookId": "b83abb1e-17b7-41d4-b70e-9a9c571b2194"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-incoming",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "filter-not-private",
              "leftValue": "={{ $json.body.private }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -32,
        256
      ],
      "id": "e821ac1b-80b1-4085-8b28-0d13f0b98430",
      "name": "Filtrar Apenas Mensagens de Entrada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "cliente_email",
              "value": "={{ $json.body.sender.email }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "cliente_nome",
              "value": "={{ $json.body.sender.name }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "assunto",
              "value": "=Zé do Rolo: {{ $json.body.conversation.additional_attributes.mail_subject }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "pergunta_cliente",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "conversation_id",
              "value": "={{ $json.body.conversation.id }}",
              "type": "number"
            },
            {
              "id": "field-006",
              "name": "contato_id",
              "value": "={{ $json.body.conversation.contact_inbox.contact_id }}",
              "type": "number"
            },
            {
              "id": "field-007",
              "name": "account_id",
              "value": "={{ $json.body.account.id }}",
              "type": "number"
            },
            {
              "id": "field-008",
              "name": "url_chatwoot",
              "value": "https://chatwoot.zedocarro.cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        256
      ],
      "id": "ebdd3d81-395f-4a43-b72d-207f7690ff48",
      "name": "Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.pergunta_cliente }}",
        "options": {
          "systemMessage": "=Você é a Roberta, consultora técnica sênior do Zé do Rolo. Sua missão é converter interessados em compradores usando as ferramentas de dados disponíveis.\n\nSUAS FERRAMENTAS:\n\nbusca_estoque_ze_do_rolo: Use sempre que o cliente perguntar sobre carros específicos, marcas, modelos ou preços.\n\nfaq_perguntas_frequentes: Use para dúvidas sobre como funciona a plataforma, planos, anúncios e segurança.\n\nREGRAS DE DOMÍNIO E LINKS:\n\nO site oficial é https://zedorolo.com.\n\nOs links vindos da ferramenta de estoque já estão no formato correto. Nunca altere o domínio para .com.br nos links de anúncios.\n\nESTILO E FORMATAÇÃO HTML:\n\nUse tags <p> para parágrafos e <strong> para dar ênfase a preços e marcas.\n\nSe encontrar o carro no estoque, gere o link: <a href='LINK_DA_FERRAMENTA'>Ver fotos e detalhes do MODELO</a>.\n\nSe não encontrar o carro, envie o link geral: <a href='https://zedorolo.com/estoque'>Conferir estoque completo</a>.\n\nSAUDAÇÃO:\n\nComece sempre com 'Olá, {{ $('Dados').item.json.cliente_nome }}'.\n\nRESTRIÇÃO: Responda apenas com o código HTML final do e-mail. Não use expressões como {{ $json }} no texto final."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        256
      ],
      "id": "bc540e0f-830d-432f-9c7f-54a5266bd372",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        496
      ],
      "id": "32b61120-9272-402f-8e56-8518f3816185",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OQjNUI8ZezgdKM2t",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.conversation_id.toString() }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        352,
        496
      ],
      "id": "2a3e7faa-df02-4a22-9fed-c1c68e53cc1d",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "CWfgRVezGe2uplox",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        576
      ],
      "id": "6d4be0a7-98a1-4e73-809e-5638324c885c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LTptrbOJ5V1fU91u",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Utilize esta ferramenta obrigatoriamente para consultar qualquer informação sobre veículos disponíveis no site (carros, motos, caminhões, tratores, vans, ônibus). Ela retorna modelos, preços, detalhes técnicos e links das páginas",
        "tableName": {
          "__rl": true,
          "value": "vehicles",
          "mode": "list",
          "cachedResultName": "vehicles"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        672,
        416
      ],
      "id": "18ba8226-3c67-4584-8596-1a8a31ed1c08",
      "name": "busca_estoque_ze_do_rolo",
      "credentials": {
        "supabaseApi": {
          "id": "wSmqQBhShUWX9Eyb",
          "name": "Supabase PG Vector Store"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Busca informações",
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        { \"text\": \"{{ $fromAI(\"query\", \"questão para responder.\") }}\" }\n      ]\n    }\n  ],\n  \"tools\": [\n    {\n      \"file_search\": {\n        \"file_search_store_names\": [\n          \"fileSearchStores/zedorolorag-2cwm3otova3j\"\n        ]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        528,
        496
      ],
      "id": "8fb326c5-7118-4d69-b7e4-3f57733411cb",
      "name": "faq_perguntas_frequentes",
      "credentials": {
        "httpQueryAuth": {
          "id": "BF8dUGanIq5jVt0h",
          "name": "Gemini Rag - FAQ"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "contato@zedorolo.com.br",
        "toEmail": "={{ $('Dados').item.json.cliente_email }}",
        "subject": "={{ $('Dados').item.json.assunto }}",
        "html": "=={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1104,
        128
      ],
      "id": "80ec6fe7-47a3-4fdf-ab95-9c6b5b2bb9c7",
      "name": "Enviar Email",
      "webhookId": "f012cda1-4c8a-4d8e-9301-5abaaa5319b2",
      "credentials": {
        "smtp": {
          "id": "yz0Q1AZIv3vgXDTo",
          "name": "SMTP - contato@zedorolo.com.br"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "clean-001",
              "name": "output_limpo",
              "value": "={{ $json.output.replace(/<\\/p>/g, '\\n\\n').replace(/<br\\s*\\/?>/g, '\\n').replace(/<\\/li>/g, '\\n').replace(/<li>/g, '• ').replace(/<[^>]+>/g, '').replace(/&nbsp;/g, ' ').replace(/\\n{3,}/g, '\\n\\n').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        256
      ],
      "id": "76ccede1-f05b-447d-9167-ab9644323961",
      "name": "Limpar HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Dados').item.json.account_id }}/conversations/{{ $('Dados').item.json.conversation_id }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Limpar HTML').item.json.output_limpo }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        352
      ],
      "id": "c4014279-c0c7-4b00-a5ae-ee0446f9a946",
      "name": "Enviar Mensagem ChatWoot",
      "credentials": {
        "chatwootApi": {
          "id": "5lydeMPyWafxQ3wS",
          "name": "ChatWoot"
        }
      }
    },
    {
      "parameters": {
        "content": "## ATENDENTE EMAIL \n## Roberta - Consultora Técnica Sênior\n\n🛡️ FILTRO ANTI-LOOP:\n- Só processa mensagens INCOMING\n- Ignora mensagens OUTGOING (evita loop)\n- Ignora mensagens PRIVATE\n\n✅ Redis Memory\n✅ Email via SMTP\n✅ ChatWoot (texto limpo)\n✅ Nome correto do cliente",
        "height": 832,
        "width": 1776,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -80
      ],
      "typeVersion": 1,
      "id": "979e45ac-3855-4c06-808a-06a005219247",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtrar Apenas Mensagens de Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Apenas Mensagens de Entrada": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Limpar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar HTML": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Mensagem ChatWoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "busca_estoque_ze_do_rolo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "faq_perguntas_frequentes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "busca_estoque_ze_do_rolo",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8d38bfc8-d26a-4299-adcb-1b1436eae88f",
  "meta": {
    "instanceId": "16d93e8900b188aa34fdc22f7816238195e0bc8f8fe1011e65e15f7a74b2cec0"
  },
  "id": "TKOdDa3eGQZIJVGG",
  "tags": []
}
